.signUpAll {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.classcardText {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 2vw;
  margin: auto;
}

.textSize {
  font-weight: 500;
}

.signupButton {
  display: flex;
  flex-direction: column;
  margin: 2vw;
  width: 15vw;
}