.userAll {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.divLine {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.inputInfo {
  height: 4vh;
  margin: 1vw;
  border-radius: 0.5vw;
  padding : 1vw;
}

.checkBox {
  display: flex;
  flex-direction: column;
  width: 20vw; 
  margin: auto;
}

#allButton {
  width : 15vw; 
  margin : 1vw 0vw;
}

#line {
 width: 8vw;
 background : black;
 border: 0 ;
 height: 1px;
}

#loginButton{
  width : 15vw;
  margin: 1vw 3vw;
}

#text {
  text-align: center;
}



