.loading-container{
    width: 440px;
    height: 220px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
  .overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-container{
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .header{
    position: absolute;
    right: 20px;
    font-size: 28px;
    color: #333;
    cursor: pointer;
  }

  .p-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .p-container p{
    width: 80%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.42857143;
    color: #333;
    text-align: center;

  }

  .button-container{
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
  }

  .button-container .left-button,
  .button-container .right-button{
    box-shadow: 0px 5px 5px rgba(0 ,0, 0, 0.16);
    border: 1px solid transparent;
    border-radius: 4px;
    width: 83px;
    height: 32px;
    vertical-align: center;
    padding: 6px 12px;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
  }

  .button-container .left-button{
    color: #7f5ac8;
    border-color: #7f5ac8;
    background-color: #fff;
    margin-right: 20px;
  }

  .button-container .right-button{
    background-color: #d9534f;
    color: white;
    /* width: 143.275px; */
  }