.loading-container{
    width: 706.8px;
    height: 480px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header{
    background-color: #78d024;
    width: 100%;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content:space-between;
  }
  .header-text{
    padding-left: 30px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-family: "Open Sans",
    "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  }
  .header-button{
    background-color: #78d024;
    color: white;
    border:none;
    padding-right: 15px;
    font-size: 25px;
    cursor: pointer;
  }
  .bottom-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70%;
    padding-top: 30px;
  }
  .left{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 1px solid #d8d8d8;
  }
  .left:hover,
  .left:active,
  .right:hover,
  .right:active{
    border: solid;
    border-color: rgb(120,208,36);
    border-width: 3px;
  }

  .bottom-container p{
    width: 62%;
    text-align:center;
    font-family: "Helvetica Neue",
    Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    color: #333;
  }

  .left .first-p{
    font-size: 18px;
  }
  .left .second-p{
    line-height: 1.42857143;
    margin-top: 0px;
  }
  .left img{
    width:100%;
    padding-top:20px;
  }
  .right{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 1px solid #d8d8d8;
  }
  .right p{
    font-size: 18px;
  }
  .right img{
    width: 100%;
    padding-top: 80px;
  }
  .next-container{
    width: 100%;
    border-top: 1px solid #d8d8d8;
    bottom: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
  .next{
    width: 90%;
    text-align: right;
    text-decoration: none;
    color: rgb(127, 90, 200);
  }
  @media (min-width: 930px){
    .loading-container{
      width: 898px;
    }
    .right img{
      padding-top: 60px;
    }
  }