<!DOCTYPE html>
<html lang="en" dir="ltr" class="window">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width= device-width">
    <meta http-equiv="ontent-Security-Policy" content="upgrade-insecure-requests">
    <meta name='google' value='notranslate'>  
    <link rel="stylesheet" href="/static/CSS/mainPage.css">
    <link rel="stylesheet" href="/static/CSS/setSearchPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/static/JS/onClick.js"></script>
    <title>SELS STUDY | 영어쌤 1/3이 선택한 스마트 단어장</title>
  </head>
  <body>
    <div class="titleShadowBox"></div>
      <div class="titleContents">
        <div class="title-mainImgContents">
              <div style="display : flex;">
                  <a href = "https://www.classcard.net/" style="text-decoration : none">
                    <p id="mainLeftTopImg">SELS STUDY</P>
                  </a>
              </div>
          </a>
        </div>
        <div class="title-mainContents">
          <div id="searchSet">
            <img src="/static/Images/serchSet.png" onclick="clickSearchSet()">
          </div>
          <div id="makeSet" onclick="clickMakeSet()">
            <img src="/static/Images/makeSet.png">
          </div>
        </div>
        <div class="title-loginContents">
          <div class="user profilePic"></div>
          <div class="userLoginInfo" style="margin-left: 20px;"><label id="name" style="font-weight: bolder;">전준휘</label> <label id="studentOrTeacher">선생님</label></div>
        </div>
      </div>
    </div>
    <div class="mainContents">
      <div class="main-leftConsole">
        <div class="leftConsoleDiv">
          <div id="leftDivisions">
            <div style="float: left;">공식제공 학습자료</div>
            <div style="float:right;margin-left: 10px;">
              <div class="classesRight" id="classesHouse" style="float: left; padding-right: 10px;">🏠</div>
            </div>
          </div>
          <div id="leftDivisions" style="font-family: 'Noto Sans KR'">NE능률 어휘</div>
          <div id="leftDivisions">NE능률 문법/구문</div>
          <div id="leftDivisions">NE능률 독해</div>
          <div id="leftDivisions">NE능률 ELT</div>
          <div id="leftDivisions">NE능률 교과서</div>
        </div>
        <div class="leftConsoleDiv">
          <div id="leftDivisions" style="border-color: rgb(212, 209, 209) white white white; border-width: 1px; border-style: solid;">
            <div style="float: left;">초등교과서 영단어</div>
            <div class="leftDivisionsRight" id="elementaryMore" style="float: right; padding-right: 10px;">➕</div>
          </div>
          <div id="leftDivisions">
            <div style="float: left;">중등교과서 영단어</div>
            <div class="leftDivisionsRight" id="middleMore" style="float: right; padding-right: 10px;">➕</div>
          </div>
          <div id="leftDivisions">
            <div style="float: left;">고등교과서 영단어</div>
            <div class="leftDivisionsRight" id="highMore" style="float: right; padding-right: 10px;">➕</div>
          </div>
          <div id="leftDivisions">
            <div style="float: left;">EBS수능 영단어</div>
            <div class="leftDivisionsRight" id="ebsMore" style="float: right; padding-right: 10px;">➕</div>
          </div>
        </div>
      </div>
      <div class="main-rightDashBoard">
        <div class="main-topInfo">
          <span>SELS STUDY는 국내 최고의 출판사와 제휴하여<br>
            <span style="font-weight: bolder; color: rgba(106,	204,	49);">단어, 문장, 문제, 듣기</span> 등 방대한 고품질 학습자료를 제공합니다
          </span>
        </div>
        <div class="main-middleDashBoard">
          <div class = "middelDashBoardTab" id="elementaryTab">초등</div>
          <div class = "middelDashBoardTab" id="middleTab">중등</div>
          <div class = "middelDashBoardTab" id="highTab">고등</div>
          <div class = "middelDashBoardTab" id="K-SatTab">수능</div>
          <div class = "middelDashBoardTab" id="ELTTab">ELT</div>
        </div>
        <div class="main-subtitleBox">
          <div class="main-subtitle"> 어휘 </div>
        </div>
        <div class="main-cateBookBox">
          <table class="bookBoxTable">
              <tr>
                <th class="tg-0lax"><img src="/static/Images/Sample1.jpg"></th>
                <th class="tg-0lax"><img src="/static/Images/Sample2.jpg"></th>
                <th class="tg-0lax"><img src="/static/Images/Sample3.jpg"></th>
                <th class="tg-0lax"><img src="/static/Images/Sample4.jpg"></th>
                <th class="tg-0lax"><img src="/static/Images/Sample5.jpg"></th>
            </table>

        </div>
      </div>
    </div>
  </body>
</html>