<!DOCTYPE html>
<html lang="en" dir="ltr" class="window">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA_Compatible" content="IE=edge">
  <meta name="viewport" content="width= device-width">
  <meta http-equiv="ontent-Security-Policy" content="upgrade-insecure-requests">
  <meta name='google' value='notranslate'>
  <link rel="stylesheet" href="../../../static/CSS/mainPage.css">
  <link rel="stylesheet" href="../../../static/CSS/setSearchPage.css">
  <link rel="stylesheet" href="../../../static/CSS/wordSet.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
  <title>SELS STUDY | 영어쌤 1/3이 선택한 스마트 단어장</title>
</head>

<body>
  <!-- 상단메뉴바 div -->
  <div class="titleShadowBox"></div>
  <div class="titleContents">
    <div class="title-mainImgContents">
      <a href="mainPage.html" style="text-decoration : none">
        <div style="display : flex;">
          <a href="mainPage.html" style="text-decoration : none">
            <p id="mainLeftTopImg">SELS STUDY</P>
          </a>
        </div>
      </a>
    </div>
    <!-- 세트 이미지 div -->
    <div class="title-mainContents">
      <div id="searchSet">
        <a onclick="clickSearchSet()"><img src="../../../static/Images/serchSet.png"></a>
      </div>
      <div id="makeSet" onclick="clickMakeSet()">
        <a><img src="../../../static/Images/makeSet.png"></a>
      </div>
    </div>
    <!-- 사용자 프로필 -->
    <div class="title-loginContents">
      <a onclick="clickLogin()" class="user profilePic"></a>
      <div class="userLoginInfo" style="margin-left: 20px;"><label id="name" style="font-weight: bolder;">전준휘</label>
        <label id="studentOrTeacher"></label></div>
    </div>
  </div>
  <!-- 왼쪽 메뉴바 -->
  <div class="mainContents">
    <div class="main-leftConsole">
      <div class="leftConsoleDiv">
        <div id="leftDivisions">
          <a onclick="clickMyClass()" style="float: left;">나의 클래스</a>
          <div style="float:right;margin-left: 10px;">
            <div class="classesRight" id="classesPlus" style="float: left; padding-right: 10px;">➕</div>
            <div class="classesRight" id="classesSetting" style="float: left; padding-right: 10px;">⚙️</div>
            <div class="classesRight" id="classesEye" style="float: left; padding-right: 10px;">👁️‍🗨️</div>
          </div>
        </div>
        <div id="getClasses">
          <!-- 
              <div id="leftDivisions" style="font-family: 'Noto Sans KR'; color: rgb(138, 214, 138);">DA_English_A반</div>
              <div id="leftDivisions">testClass01</div> 
              -->
        </div>
      </div>
      <div class="leftConsoleDiv">
        <div id="leftDivisions">
          <div style="float: left;">나의 폴더</div>
          <div class="classesRight" id="classesPlus" style="float: right; padding-right: 10px;">➕</div>
        </div>
        <div id="getFolders"> </div>
      </div>
    </div>
    <div class="main-rightDashBoard"
      style="background-image: url(../../../static/Images/mainDemo.png);background-repeat: no-repeat;">
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="../../../static/JS/signedUpMainPage-student.js"></script>
  <script type="text/javascript" src="../../../static/JS/onClick.js"></script>
</body>

</html>