<!DOCTYPE html>
<html lang="en" dir="ltr" class="window">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width= device-width">
    <meta http-equiv="ontent-Security-Policy" content="upgrade-insecure-requests">
    <meta name='google' value='notranslate'>
    <link rel="stylesheet" href="/static/CSS/studentVocaMain.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <title>SELS STUDY | 영어쌤 1/3이 선택한 스마트 단어장</title>
</head>

<body>
    <div class="titleShadowBox">
        <div class="titleContents">
            <div class="title-mainImgContents">
                <a href="https://www.classcard.net/" style="text-decoration : none">
                    <div style="display : flex;">
                        <a href="https://www.classcard.net/" style="text-decoration : none">
                            <p id="mainLeftTopImg">SELS STUDY</P>
                        </a>
                    </div>
                </a>
            </div>
            <div class="title-mainContents">
                <div id="searchSet">
                    <a onclick="clickSearchSet()"><img src="/static/Images/serchSet.png"></a>
                </div>
                <div id="makeSet" onclick="clickMakeSet()">
                    <img src="/static/Images/makeSet.png">
                </div>
            </div>
            <div class="title-loginContents">
                <a onclick="clickLogin()" class="user profilePic"></a>
                <div class="userLoginInfo" style="margin-left: 20px;"><label id="name" style="font-weight: bolder;"></label> <label id="studentOrTeacher"></label></div>
            </div>
        </div>
    </div>
    <div class="mainInfo">
        <table class="mainInfoTable">
            <tbody>
                <tr>
                    <td class="mainInfoTable-0pky" colspan="2">
                        <button class="button is-active" style="color: rgb(104, 203, 28); font-weight: 600; border-color: rgb(104, 203, 28);">단어</button>
                    </td>
                </tr>
                <tr>
                    <td class="mainInfoTable-b3uz" colspan="2">DA_English_A반</td>
                </tr>
                <tr>
                    <td class="mainInfoTable-0pky" colspan="2">20카드 | juniJEON</td>
                </tr>
                <tr>
                    <td class="mainInfoTable-0pky">인쇄</td>
                    <td class="mainInfoTable-0pky"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="gameList">
        <div class="gameListContents">
            <button class="button is-rounded" id="gameSelectButtons">스피킹</button>
            <button class="button is-rounded" id="gameSelectButtons">매칭</button>
            <button class="button is-rounded" id="gameSelectButtons">크래시</button>
        </div>
    </div>
    <div class="mainContents" id="vocaCard">
        <div class="vocaSection">
            <div id="sectionNum">1구간</div>
            <div id="vocaSectionButton">
                <button class="button is-rounded" id="vocaSectionButtons" onclick="clickRememberVoca()">암기학습</button>
                <button class="button is-rounded" id="vocaSectionButtons" onclick="clickRecallVoca()">리콜학습</button>
                <button class="button is-rounded" id="vocaSectionButtons" style="margin-right: 20px;" onclick="clickSpellVoca()">스펠학습</button>
            </div>
        </div>

        <!-- <div style="display: flex; flex-direction: row;">
            <div class="container">
                <div class="front card">dudk000</div>
                <div class="back card">아아아ㅏㅇ</div>
            </div>

            <div class="container">
                <div class="front card">dudk000</div>
                <div class="back card">아아아ㅏㅇ</div>
            </div>

            <div class="container">
                <div class="front card">dudk000</div>
                <div class="back card">아아아ㅏㅇ</div>
            </div>

        </div>

        <div style="display: flex; flex-direction: row;">
            <div class="container">
                <div class="front card">dudk000</div>
                <div class="back card">아아아ㅏㅇ</div>
            </div>

            <div class="container">
                <div class="front card">dudk000</div>
                <div class="back card">아아아ㅏㅇ</div>
            </div>

            <div class="container">
                <div class="front card">dudk000</div>
                <div class="back card">아아아ㅏㅇ</div>
            </div>

        </div> -->

    </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/static/JS/studentVocaMain.js"></script>
    <script type="text/javascript" src="/static/JS/onClick.js"></script>
</body>

</html>