@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.user {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .profilePic {
    background-image: url('/Images/default_photo.png');
  }
  
.mainContents{
    width: 80vw;
    padding-top: 80px;
    display: flex; flex-direction: row;
    height: 100vw;
    max-width: 2000px;
    margin: auto;
    /* background-color: green; */
}
.titleShadowBox{
    box-shadow: 5px 5px 5px 0.02px rgb(209, 209, 209);
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: white;
}


.titleContents{
    position: fixed;
    width: 80vw;
    height: 80px;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: white;

}

.title-mainImgContents{
    display : flex;
    float: left;
}

#mainLeftTopImg{
    margin: 30px;
    font-size: 20px;
    cursor: pointer;
}

.title-mainContents{
    display: flex;
    float: left;
    width: 30vw;
    max-width: 900px;
    height: 100%;
    margin: auto;
    margin-left: 10%;
    /* background-color: khaki; */

}

.title-mainContents #searchSet{
    float: left;
    width: 40%;
    height: 100%;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* color: white;
    background-color: red; */
}
.title-mainContents #makeSet{
    float: left;   
    width: 40%;
    height: 100%;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    /* background-color: blue; */
}

.title-loginContents{
    position: absolute;
    display: flex;
    align-items: center;
    
    margin-left: 60vw;
    float: right;
    width: 300px;
    height: 100%;
    /* background-color: lightblue; */
}

.mainContents .main-leftConsole{
    float: left;
    height: inherit;
    margin-left: 0;
    width: 20%;
    /* background-color: yellow; */
}

.mainContents .main-rightDashBoard{
    float:right;
    height: inherit;
    width: 80%;
    
}

.mainContents .main-leftConsole .myClassInfo{
    margin-top: 15%;
    height: 200px;
    width: 100%;

    /* background-color: lawngreen; */
}

#leftDivisions{   
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    height: 40px;

    /* background-color: lightsalmon; */
}

#classesRight{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100px;
}

.mainContents .main-leftConsole .myFolderInfo{
    margin-top: 15%;
    height: 200px;
    width: 100%;

    /* background-color: lawngreen; */
}